html, body
{
    width: 100%;
    /* overflow-x: hidden;  */
}

body{
    background-color: #FAF9F6;
    font-family: 'Work Sans', 'Arial', sans-serif;
    margin: 0;
}

nav{
    display: flex;
    background-color: #9A8C98;
    padding: 0.5em;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    max-height: 300px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', 'Heveltica Nue', sans-serif;
}

main {
    margin: 1em;
}

nav {
    width: auto;
}

nav a{
    color: #FAF9F6;
    padding-left: 2em;
    padding-right: 2em;
}

.logo a{
    color: white;
    font-size: 3em;
    padding-left: 1em;
    text-decoration: none;
    font-weight: 550;
}

#pages, #hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#pages a {
    text-decoration: none;
    font-size: 18px;
}

.material-symbols-outlined {
    font-size: 40px;
}

.back {
    background-color: #F2E9E4;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}

.back img {
    max-height: 400px;
}

.choices {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.selection {
    background-color: white;
    font-size: 20px;
}

.quiz-bottom {
    display: flex;
    justify-content: right;
    align-items: center;
}

#landing-logo {
    font-size: 5.5em;
}

.form-group {
    width: 66%;
}

#log-in-section {
    position: absolute;
    top: 15%;
    padding-left: 1em;
    width: 100%;
}

.landing-btn {
    padding: 0.5em 2em;
    font-size: 16px;
}
