body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    /*-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
   color: #121212;
   margin: 1em;
   
  }

li {
  /*
        list-style-position:inside;
        border: 1px solid black;
        */
        line-height: 1.5;
        color: #6d6654;
}

h1, h2, h3{
  font-family: "Concert One", 'Helvetica', sans-serif;
  color: rgb(98, 28, 132);

}
p{
  line-height: 1.5;
  margin-left: 1em;

}

.components li {
  margin-bottom: 1rem;
  color: black;
}

