/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: 'HCo Gotham', 'Work Sans', 'Arial', sans-serif;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0px 0px;
}

img {
  max-height: 300px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'HCo Gotham', 'Work Sans', 'Arial', sans-serif;
  font-size: 30px;
}

/* Sign In */
.sign-in-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Nav Bar */
nav {
  display: flex;
  background-color: #9a8c98;
  top: 0;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  padding-top: 1rem;
  margin: auto;
  align-items: center;
  padding-bottom: 1rem;
}

nav a {
  color: #faf9f6;
  padding-right: 1em;
  text-decoration: none;
}

nav .logo {
  padding-right: 4em;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px;
}

.hamburger-menu {
  display: block;
  margin-left: auto;
}

.menu-tab {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  background-color: #9a8c98;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.menu-tab.open {
  transform: translateX(0);
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.menu-header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.close-icon {
  cursor: pointer;
}

.close-icon span {
  font-size: 24px;
  color: #fff;
}

.menu-tab ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.menu-tab li {
  margin-bottom: 1em;
}

.menu-tab a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s;
}

.menu-tab a:hover {
  color: #007bff;
}

.menu-tab-divider {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em -8px 8px;
  list-style: none;
  background: rgba(224, 224, 224, 0.5);
  border: 0;
}

.menu-tab-footer {
  margin-top: 2em;
}

.menu-tab-footer .footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-tab-footer .footer-links li, .menu-tab-footer p {
  margin-bottom: 10px;
}

.menu-tab-footer .footer-links a, .menu-tab-footer p {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  transition: color 0.3s;
}

.menu-tab-footer .footer-links a {
  color: #007bff;
}

.menu-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: text-bottom;
}

.nav-link {
  border-radius: 7px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #8f7f8c; 
  transition: 0.3s;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Footer */
footer {
  background-color: #9a8c98;
  color: #faf9f6;
  padding: 1rem;
  text-align: center;
  margin-top: 5em;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.footer-links li {
  display: inline-block;
  margin: 0 0.5rem;
}

.footer-links a {
  color: #faf9f6;
  text-decoration: none;
}

/* Main Content */
main {
  padding-top: 6rem;
  margin: 1em;
}

.back {
  background-color: #F2E9E4;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
}

.back img {
  max-height: 400px;
}

.choices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.selection {
  background-color: white;
  font-size: 20px;
}

.quiz-bottom {
  display: flex;
  justify-content: right;
  align-items: center;
}

.quiz-bottom-left:hover {
  background-color: #e0d3cd;
  transition: 0.5s;
  border-radius: 8px;
}

.quiz-bottom-right:hover {
  background-color: #e0d3cd;
  transition: 0.5s;
  border-radius: 8px;
}

.btn-option {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s, color 0.3s;
}

.btn-option:hover {
  background-color: #C9ADA7;
  color: #fff;
}

.btn-option.selected {
  background-color: #C9ADA7;
  color: #fff;
  border: 1px solid #C9ADA7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.question-img {
  height: auto;
  max-width: 100%;
  border-radius: 5px;
}

.style-description {
  background-color: #f5ede9;
  color: #22223B;
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: left;
}

/* Style Cards */
.style-Cards {
  max-width: 100%; 
  width: 348px;
  box-sizing: border-box;
  align-content: center;
  margin: 8px;
}

.style-card-container {
  width: 348px;
  height: 148px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #9A8C98;
  margin: 1em;
  display: inline-flex;
  gap: 12px;
}

.style-card-container h2 {
  font-size: 20px;
  font-family: 'Oswald', 'HCo Gotham', 'Work Sans', 'Arial', sans-serif;
}

.style-Cards-List {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.style-card-content {
  color: #FAF9F6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 12px;
  justify-content: center;
  flex: 1;
}

.read-more-button {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #FAF9F6;
  color: #9A8C98;
  border-color: none;
  font-family: 'Oswald', 'HCo Gotham', 'Work Sans', 'Arial', sans-serif;
  font-weight: bold;
}

.style-card-image {
  width: 148px;
  height: 148px;
  border-radius: 16px 0px 0px 16px;
}

.long-description {
  display: none;
}

.read-more-button {
  display: none;
}

.common-clothing-pieces {
  display: none;
}

.read-more-button a {
  color: #9A8C98;
  text-decoration: none;
}

.style-page .content-container {
  width: 80%;
  margin: 0 auto; 
  padding: 20px;
}

.style-page .search-bar {
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.favoriteIcon {
  display: none;
}

.store-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  justify-content: center;
}

.store-card {
  background-color: #9A8C98;
  border-radius: 16px;
  max-width: 100%;
  width: 348px;
  box-sizing: border-box;
  margin: 8px;
  text-align: center;
  transition: transform 0.2s;
}

.store-card:hover {
  transform: scale(1.05);
}

.store-card-content {
  border-radius: 16px;
  overflow: hidden;
  background: #9A8C98;
  color: #FAF9F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.store-card p {
  font-size: 1.5em;
  font-weight: bold;
  margin: 16px 0;
  text-decoration: none;
}

.store-card img {
  width: 100%;
  height: auto;
}

.store-card a {
  text-decoration: none;
  font-family: 'Oswald', 'HCo Gotham', 'Work Sans', 'Arial', sans-serif;
}

.related-styles-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.style-page-title {
  font-size: 3em;
  font-family: 'Oswald', 'HCo Gotham', 'Work Sans', 'Arial', sans-serif;
  font-weight: bolder;
  color: #9A8C98;
  margin-bottom: 20px;
}

.main-image-detail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.style-page-image {
  border-radius: 16px;
  margin: 16px 0 16px 0;
}

.style-page-deatil-subheader {
  font-size: 2em;
  font-family: 'Oswald', 'HCo Gotham', 'Work Sans', 'Arial', sans-serif;
  color: #9A8C98;
  margin: 12px 0 12px 12px;
}

.common-clothing-pieces {
  display: flex;
  flex-wrap: wrap;
}

.common-clothing-pieces li {
  width: 100%; 
  box-sizing: border-box;
}

.lists-container {
  background-color: #9A8C98;
  border-radius: 28px;
  color: #FAF9F6;
  padding: 1em;
  margin-top: 16px;
}

.style-card-detail-page h2 {
  margin: 1em;
}

.lists-container h2 {
  color: #FAF9F6;
  margin: 16px;
}

.detailed-description {
  background-color: #9A8C98;
  padding: 2em;
  border-radius: 28px;
  color: #FAF9F6;
}

/* Profile Page */
.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(33.33% - 20px);
}

.card-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 14px;
  color: #555;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  border: 2px solid black;
}

.profile-form {
  margin-bottom: 20px;
}

.profile-form label {
  display: block;
  margin-bottom: 5px;
}

.profile-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.profile-form button {
  padding: 8px 16px;
  background-color: #37de8f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card-section {
  margin-bottom: 20px;
}

.add-card-form {
  margin-top: 10px;
}

.add-card-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.add-card-form button {
  padding: 8px 16px;
  background-color: #37de8f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile-card-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.grid-item {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}

.grid-item {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}

.read-more-button a{
  color:#9A8C98;
  text-decoration: none;
}

.style-page .content-container {
  width: 80%;
  margin: 0 auto; 
  padding: 20px;
}

.style-page .search-bar {
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.favoriteIcon{
  display: none;
}

.store-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  justify-content: center;
}

.style-Cards h2{
  font-size: 24px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  .style-card-image{
    width: 248px;
    height: 248px;
  }
  .style-card-container{
    width: 448px;
    height: 248px;
  }

  .style-Cards{
    width: 448px;
  }


.style-Cards-List{
  justify-content: center;
  }

  .style-Cards h2{
    font-size: 24px;
  }

  .profile-card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

}


/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .long-description{
    display: block;
  }

  .short-description{
    display: none;
  }

  .read-more-button{
    display: block;
  }

  .common-clothing-pieces{
    display: block;
  }

  .style-Cards-List{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-items: stretch;
  }
  
  .style-Cards {
    width: 312px;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .style-card-image {
    width: 312px;
    height: 312px;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
    margin-bottom: 4px;
  }

  .style-card-container{
    width: 100%;
    height: 100%;
    gap: 4px;
    flex-direction: column;
    border-radius: 16px;
    margin: 1em;
    gap: 12px;
    box-sizing: border-box;
    align-items: center;
  }
  

  .style-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1; 
    width: 100%;
    margin: 1em;
  }

  .style-card-title {
    margin: none; 
}
  .style-Cards h2{
    font-size: 32px;
  }

  .style-card-content p{
    margin: 0 24px 0 24px;
  }

  .profile-card-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}



/* Homepage */
.quiz {
  background: #37de8f;
  border-radius: 2em;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  display: inline-block;
  text-decoration: none;
}

.left-container .rack {
  width: 75%;
  padding-left: 3rem;
  padding-bottom: 2rem;
  height: auto; /* Maintain aspect ratio */
}

.right-container .tech {
  display: none;
}

.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0;
  padding: 1rem;
}

.left-container,
.right-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.left-container {
  position: relative;
}

.image-content {
  text-align: center;
}

.home_card {
  text-align: center;
  flex-direction: column;
  padding-top: 5rem;
  width: 100%;
}

.home_card img {
  width: 50%;
  height: auto;
  max-height: 100%;
}

.home_card p {
  font-size: 20px;
}

.home_card:nth-child(1) {
  padding-top: 0;
}

.home_container .home_card .left-container .image-content .overlay {
  position: absolute;
  border-radius: 14px;
  padding: 0rem .75rem;
}

.home_container .home_card .left-container .image-content .overlay.overlay-2 {
  top: 60%;
  left: 10%;
  background: rgba(28, 246, 168, .65);
  opacity: 1;
}

.home_container .home_card .left-container .image-content .overlay.overlay-1 {
  top: 20%;
  right: 3%;
  background: rgba(28, 246, 168, .65);
  opacity: 1;
}

.home_card .bottom {
  width: 100%;
}

.explore {
  border: none;
  color: #fff;
  border-radius: 41px;
  background: #275f4b;
  margin: 1rem;
  text-align: center;
  padding: 1rem 0.5rem;
  text-decoration: none;
  display: inline-block;
  width: 123px;
}

.style-quiz-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 598px) {
  .animationDecor {
    height: 400px;
    width: 800px;
  }

  nav .components_header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    flex-grow: 1;
  }

  .home_container {
    margin-right: 0;
  }

  .home_card {
    flex-direction: row;
    display: flex;
    padding: 2.5rem;
  }

  .home_card p, h1, h2 {
    text-align: left;
  }

  .home_card h1, h2 {
    font-size: 2.25rem;
    padding-bottom: 1rem;
  }

  .home_card img {
    text-align: center;
    width: 50%;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .left-container,
  .right-container {
    width: 50%;
  }

  .left-container {
    padding: 2rem 2rem 2rem 0;
  }

  .right-container {
    padding: 2rem 1rem;
  }

  .left-container .rack {
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-left: 0;
  }

  nav .logo {
    padding-right: 0;
  }

  nav {
    width: 100%;
  }

  .home_container .home_card .left-container .image-content .overlay {
    position: absolute;
    border-radius: 14px;
    padding: 0rem 1.25rem;
  }

  .home_container .home_card .left-container .image-content .overlay.overlay-2 {
    top: 50%;
    left: 0%;
    transform: scale(.8);
  }

  .home_container .home_card .left-container .image-content .overlay.overlay-1 {
    top: 30%;
    right: -5%;
    transform: scale(.8);
  }

  .home_card .bottom {
    width: 100%;
  }

  .right-container .tech {
    position: absolute;
    width: 60%;
    left: 50%;
    display: block;
  }

  .menu-tab ul li:nth-child(1),
  .menu-tab ul li:nth-child(2),
  .menu-tab ul li:nth-child(3),
  .menu-tab ul li:nth-child(4),
  .menu-tab ul li:nth-child(5) {
    display: none;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  .style-card-image {
    width: 248px;
    height: 248px;
  }

  .style-card-container {
    width: 448px;
    height: 248px;
  }

  .style-Cards {
    width: 448px;
    margin-bottom: 2em;
  }

  .style-Cards-List {
    justify-content: center;
  }

  .style-Cards h2 {
    font-size: 24px;
  }

  .store-card {
    width: 448px;
  }

  .main-image-detail-container {
    flex-wrap: nowrap;
    align-items: center;
  }

  .main-image-detail-container p {
    margin: 0 16px 0 16px;
  }

  .common-clothing-pieces {
    display: flex;
    flex-wrap: wrap;
  }

  .common-clothing-pieces li {
    width: 40%; 
    box-sizing: border-box;
    margin: 8px;
  }

  
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .favoriteIcon {
    display: block;
  }

  .image-icon-container {
    position: relative;
  }

  .style-card-image {
    width: 100%;
    height: auto;
    border-radius: 16px 0 0 16px;
  }

  .favoriteIcon {
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.3s;
  }

  .long-description {
    display: block;
  }

  .short-description {
    display: none;
  }

  .read-more-button {
    display: block;
  }

  .common-clothing-pieces {
    display: block;
  }

  .style-Cards-List {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }

  .style-Cards {
    width: 312px;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .style-card-image {
    width: 312px;
    height: 312px;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
    margin-bottom: 4px;
  }

  .style-card-container {
    width: 100%;
    height: 100%;
    gap: 4px;
    flex-direction: column;
    border-radius: 16px;
    margin: 1em;
    gap: 12px;
    box-sizing: border-box;
    align-items: center;
  }

  .style-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1; 
    width: 100%;
    margin: 1em;
  }

  .style-Cards h2 {
    font-size: 32px;
  }

  .style-card-content p {
    margin: 0 24px 0 24px;
  }

  p.read-more-button {
    margin-top: 12px;
    margin-bottom: 16px;
  }

  .store-card {
    width: 312px;
  }

  .related-styles-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }

  .common-clothing-pieces {
    display: flex;
    flex-wrap: wrap;
  }

  .common-clothing-pieces li {
    width: 40%; 
    box-sizing: border-box;
    margin: 8px;
  }

  .lists-container {
    display: flex;
    justify-content: space-between;
  }

  .tips-list {
    width: 40%;
    margin-right: 20%;
  }

  nav {
    justify-content: space-between;
    align-items: center;
  }

  .hamburger-menu {
    font-size: 1.5rem;
  }

  .components_header a {
    font-size: 20px;
    padding: 0rem 1rem;
  }

  .home_card p {
    font-size: 30px;
  }

  .left-container .text-content {
    padding-left: 1em;
  }

  .home_card {
    padding: 4rem;
  }

  .home_container .home_card .left-container .image-content .overlay.overlay-2 {
    top: 40%;
  }

  .home_container .home_card .left-container .image-content .overlay.overlay-1 {
    top: 20%;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .right-container .tech {
    position: absolute;
    width: 50%;
    left: 50%;
    display: block;
  }

  .home_card {
    padding: 5rem;
    width: 1200px;
  }

  .components_header a {
    font-size: 20px;
    padding: 0rem 2rem;
  }

  .home_container .home_card .left-container .image-content .overlay.overlay-2 {
    top: 60%;
    left: 5%;
    transform: scale(1.1);
  }

  .home_container .home_card .left-container .image-content .overlay.overlay-1 {
    top: 30%;
    right: 10%;
    transform: scale(1.1);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .right-container .tech {
    position: absolute;
    width: 700px;
    left: 50%;
    display: block;
  }

  .home_container .home_card .left-container .image-content .overlay.overlay-2 {
    top: 60%;
    left: 5%;
  }

  .home_container .home_card .left-container .image-content .overlay.overlay-1 {
    top: 30%;
    right: 10%;
  }

  .left-container .rack {
    width: 500px;
    height: auto;
    padding-left: 0;
  }

  .home_card {
    padding: 7rem;
  }
}

/* Palette Pages */
/* Palette Pages */
.material-symbols-outlined {
  font-size: 40px;
  }
  
  .back {
  background-color: #F2E9E4;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  }
  
  .back img {
  max-height: 400px;
  
  }
  
  .choices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  
  .selection {
      background-color: white;
      font-size: 20px;
  }
      
  .quiz-bottom {
      display: flex;
      justify-content: right;
      align-items: center;
  }
  
  .quiz-intro {
      background-color: #4A4E69;
      width: 100%;
      border-radius: 25px;
  }
      
  .all-buttons {
      background-color: #80ED99;
  }
  
  .responsive-image {
      max-width: 100%;
      height: auto;
      }
  
  .question-box-size {
      width: 100%;
  }
  
  .text-bubble {
      margin: 0rem 0.5rem;
      padding: 1rem 1rem;
  }
  
  .text-bubble p {
      font-size: 14px;
  }
  
  .text-size {
      font-size: 14px;
  }
  
  .quiz-image {
      max-width: 200px;
  }
  
  .quiz-question {
      font-size: 16px;
  }
  
  @media (min-width: 598px) {
      .question-box-size {
          width: 75%;
      }
  
      .text-bubble {
          margin: 0rem 3rem;
          padding: 2rem 3rem;
      }
  
      .text-bubble {
          margin: 0rem 2rem;
          padding: 2rem 3rem;
      }
  
      .text-bubble p {
          font-size: 18px;
      }
  
      .text-size {
          font-size: 18px;
      }
  
      .quiz-image {
          max-width: 300px;
      }
      
      .quiz-question {
          font-size: 24px;
      }
  
  }
  @media (min-width: 768px) {
      .question-box-size {
          width: 66%;
      }
  
      .text-bubble p {
          font-size: 24px;
      }
  
      .text-size {
          font-size: 24px;
      }
  
      .quiz-image {
          max-width: 350px;
      }
      
      .quiz-question {
          font-size: 30px;
      }
  
  }
  
  .quiz-intro {
      background-color: #4A4E69;
      width: 100%;
      border-radius: 25px;
  }
  
  .all-buttons {
      background-color: #80ED99;
  }
  
  .responsive-image {
      max-width: 100%;
      height: auto;
    }
  
  .question-box-size {
      width: 100%;
  }
  
  .text-bubble {
      margin: 0rem 0.5rem;
      padding: 1rem 1rem;
  }
  
  .text-bubble p {
      font-size: 14px;
  }
  
  .text-size {
      font-size: 14px;
  }
  
  .quiz-image {
      max-width: 275px;
  }
  
  .quiz-question {
      font-size: 16px;
  }
  
  @media (min-width: 598px) {
      .question-box-size {
          width: 75%;
      }
  
      .text-bubble {
          margin: 0rem 3rem;
          padding: 2rem 3rem;
      }
  
      .text-bubble {
          margin: 0rem 2rem;
          padding: 2rem 3rem;
      }
  
      .text-bubble p {
          font-size: 18px;
      }
  
      .text-size {
          font-size: 18px;
      }
  
      .quiz-image {
          max-width: 300px;
      }
      
      .quiz-question {
          font-size: 24px;
      }
  
  }
  @media (min-width: 768px) {
      .question-box-size {
          width: 66%;
      }
  
      .text-bubble p {
          font-size: 24px;
      }
  
      .text-size {
          font-size: 24px;
      }
  
      .quiz-image {
          max-width: 350px;
      }
      
      .quiz-question {
          font-size: 30px;
      }
  
  }
