
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<header>
    <h1>Website Title</h1>
</header>

<nav>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Contact</a>
</nav>

<main>
    <h2>Welcome to Our Website</h2>
    <p>This is a basic HTML template. You can modify it as per your needs.</p>
    <img src="../../assets/color-palette.jpeg" />
    <img src='../Images/preppy.jpeg'/>
</main>

<footer>
    <p>&copy; 2024 Your Company Name. All rights reserved.</p>
</footer>

</body>
</html>
