* {
  margin: 0;
}

body {
  background-color: #fff;
  font-family: 'HCo Gotham', sans-serif;
  overflow-x: hidden;
}

nav {
  display: flex;
  background-color: #9a8c98;
  top: 0;
  width: 100%;
  position: absolute;
  padding: 0.5em;
  margin: auto;
  align-items: center;
  padding-bottom: 1.0rem;
}

.components_header {
  display: none;
}

nav a {
  color: #faf9f6;
  padding-right: 1em;
  text-decoration: none;
}

nav .logo {
  padding-right: 4em;
  padding-left: 1rem;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.quiz {
  background: #37de8f;
  border-radius: 2em;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin-top: 1rem;
}

.card {
  text-align: center;
  flex-direction: row;
  padding: 3rem;
  padding-top: 5rem;
  width: 100%;
}

#hamburger-menu {
  margin-left: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: -27em;
}


.left-container,
.right-container {
  display: flex;
  width: 50%;
  padding: 2rem 1rem;
  flex-direction: column;
}

.left-container {
  position: relative;
}


.image-content {
  text-align: center;
}

.card img {
  width: 50%;
  height: auto;
}

.left-container #rack {
  width: 75%
}

.right-container #tech {
  display: none;
}

.card p {
  font-size: 20px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'HCo Gotham', sans-serif;
}

.container .card .left-container .image-content .overlay {
  position: absolute;
  border-radius: 14px;
  padding: .75rem 1.5rem;
}

.container .card .left-container .image-content .overlay.overlay-2 {
  top: 60%;
  left: 10%;
  background: rgba(28, 246, 168, .65);
  opacity: 1;
}

.container .card .left-container .image-content .overlay.overlay-1 {
  top: 35%;
  right: 10%;
  background: rgba(28, 246, 168, .65);
  opacity: 1;
}

.card .bottom {
  width: 50%;
}

#explore {
  border: none;
  color: #fff;
  border-radius: 41px;
  background: #275f4b;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  padding: .5rem 0;
  cursor: pointer;
  text-decoration: none;
  width: 123px;
}

.left-container #rack {
  padding: 1rem;
  height: auto; /* Maintain aspect ratio */
}

footer {
  background-color: #9a8c98;
  color: #faf9f6;
  padding: 1rem;
  text-align: center;
  margin-top: 5em;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.footer-links li {
  display: inline-block;
  margin: 0 0.5rem;
}

.footer-links a {
  color: #faf9f6;
  text-decoration: none;
}

@media (min-width: 598px) {
  nav .components_header {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  .container {
    margin-right: 0rem;
  }
  
  .card {
    flex-direction: row;
    display: flex;
  }
  
  .card p {
    text-align: left;
  }
  
  .card img {
    text-align: center;
    width: 50%;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .left-container #rack {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  nav .logo {
    padding-right: 0em;
  }

  nav {
    width: 100%;
  }

  .container .card .left-container .image-content .overlay.overlay-2 {
    left: 5%;
    transform: scale(.8);
  }

  .container .card .left-container .image-content .overlay.overlay-1 {
    right: -5%;
    transform: scale(.8);
  }

  .card .bottom {
    width: 100%;
  }

  .right-container #tech {
    position: absolute;
    width: 60%;
    left: 50%;
    display: block;
  }
}

@media (min-width: 768px) {
  nav {
    justify-content: space-between;
    align-items: center;
  }
  
  #hamburger-menu {
    display: block;
    color: #faf9f6;
    font-size: 1.5rem;
  }

  .components_header {
    font-size: 20px;
  }

  .card p {
    font-size: 30px;
  }

  .left-container .text-content {
    padding-left: 1em;
  }
}

@media (min-width: 992px) {
  .right-container #tech {
    position: absolute;
    width: 50%;
    left: 50%;
    display: block;
  }

  .card {
    padding: 5rem;
  }
  .card .bottom {
    font-size: 30px;
  }
}

  @media (min-width: 1200px) {

    .right-container #tech {
      position: absolute;
      width: 40%;
      left: 50%;
      display: block;
    }

    .card {
      padding: 10rem;
    }
}