body {
  padding-top: 1.5rem;
  background-color: #faf9f6;
  font-family: "Work Sans", "Arial", sans-serif;
  margin: 0;
}

nav {
  position: fixed;
  display: flex;
  background-color: #9a8c98;
  top: 0;
  width: 100%;
}

.quiz {
  background: #bbd0ff;
  border-radius: 2em;
  border: none;
  color: #555b6e;
  padding: 10px 10px;
}

img {
  height: 250px;
  width: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", "Heveltica Nue", sans-serif;
}

main {
  margin: 1em;
}

a {
  text-decoration: none;
}

nav a {
  color: #faf9f6;
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: 568px) {
  nav #items {
    display: flex;
    font-size: 13px;
    padding-top: 1rem;
    display: inline;
    padding: 0;
    margin: 0 0.5rem;
  }
}

@media (min-width: 768px) {
  body {
    background-color: white;
  }
}

@media (min-width: 992px) {
}
